/*I - GÉNÉRAL*/
html{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: antiquewhite;
	display: flex;
	flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

header, footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 59, 80);
    color: antiquewhite;
}
header{
    font-size: 1em;
    font-weight: bold;
}
/*Mise en page pour éviter le scroll sur tous les devices: */
body{
    height:100dvh;
}
header{
    height:12dvh;
}
main{
    height:83dvh;
}
footer{
    height:5dvh;
}

header, main, footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
footer a, .stack-title, .side-card_title{
    color: antiquewhite;
}
#card-view{
    height: 100%;
    width: 100%;
    padding: 0.7rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Mise en page à l'intérieur de la carte pour éviter que la hauteur de l'image varie par rapport au titre */
#card-view_heading{
    height: 10%;
}
#card-view_card{
    height: 80%;
}
#card-vew_decisions{
    height: 10%;
}
/* Afficher la carte en plein écran */
#card-view_card.fullscreen{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 3;
    /* Laisser un espace pour le bouton de fermeture */
    padding-top: 2.6rem;
}
#close-fullscreen-btn{
    background-color:black;
    position: fixed;
    top:5px;
    right: 5px;
    color: antiquewhite; 
    border-radius: 50px; 
    padding: 1rem;
}
#card-view_card.fullscreen img{
    mix-blend-mode:normal;
    width: 98%;
}
/* Mise en forme de chaque élément de card*/
#card-view_heading{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
#card-view_card{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    /*Cacher la scrollbar*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Cacher la  scrollbar pour Chrome, Safari et Opera */
#card-view_card::-webkit-scrollbar, #discard-list::-webkit-scrollbar {
    display: none;
}
#card_title{
    text-align: center;
    font-size: 1.4em;
}

.card_img{
    box-sizing: border-box;
    height: 98%;
    object-fit: contain;
    border-radius: 10px;
    mix-blend-mode: multiply;
    background-color: black;
    padding: 0.2rem;
    margin: 0.7rem;
}
/* BOUTONS DÉFAUSSER ET RÉSERVER */
#card-vew_decisions:not(.hide){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card-vew_decisions button{
    margin: 0.6rem;
    font-size: 1em;
    padding: 0.6rem;
    background-color: antiquewhite;
    border: 1px solid rgb(6, 59, 80);
    border-radius: 5px;
}

#card-vew_decisions button:hover{
    background-color: rgb(6, 59, 80);
    color: antiquewhite;
    font-weight: bold;
}


/* LA RÉSERVE ET LA DÉFAUSSE */
#baize, #discard{
    display: flex;
    position: fixed; 
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}
#baize.active, #discard.active{
    background-color: black;
    transform: translateX(0%);
    z-index: 2;
}
#discard svg{
    transition: all 0.5s ease-in-out;
}
#discard.active svg{
    transform: rotate(180deg);
}
#draw-baize, #draw-discard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    align-self:center;
    position: sticky;
    /*top : 300px;*/
    background-color: black;
    color: antiquewhite;
    border: none;
}
/* Le bouton de la réserve dépasse à droite de l'écran */
#draw-baize{
    left:0;
    border-radius: 50px 0 0 50px;
}
/* Le bouton de la défausse dépasse à gauche de l'écran */
#draw-discard{
    right:0;
    border-radius: 0 50px 50px 0;
}
#baize-list, #discard-list{
    box-sizing: border-box;
    overflow: scroll!important;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:100%;
    width:90%;
    padding:1rem;
    /*Cacher la scrollbar*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Cacher la  scrollbar pour Chrome, Safari et Opera */
#baize-list::-webkit-scrollbar, #discard-list::-webkit-scrollbar {
    display: none;
}

#baize-list li, #discard-list li{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    text-align: center;
    width: 80%;
    height: auto;
    margin: 1rem;
}
#baize-list li img, #discard-list li img{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.hide{
    display: none;
}
/* MOBILE */
@media only screen and (max-width : 431px) {
    /*Largeur du contenant moins celle du bouton*/
    #baize-list, #discard-list{
        width: 90%;
    }
    #draw-baize, #draw-discard{
        width: 10%;
    }
    /* Reculer la réserve et la défausse hors de l'écran, de la largeur de la liste, pour faire dépasser le bouton*/
    #baize {
        transform: translateX(90%);
    }
    #discard {
        transform: translateX(-90%);
    }
    /*Carte : illustration et contenu en colonne*/
    #card-view_card{
        flex-direction: column;
    }

}
/* PETITES TABLETTES */
@media only screen and (min-width : 431px) and (max-width : 999px){
    #baize-list, #discard-list{
        width: 95%;
    }
    #draw-baize, #draw-discard{
        width: 5%;
    }
    #baize {
        transform: translateX(95%);
    }
    #discard {
        transform: translateX(-95%);
    }
    /*Carte : illustration et contenu en colonne*/
    #card-view_card{
        flex-direction: column;
    }
}

/* DESKTOP */
@media only screen and (min-width : 1000px) {
    #baize-list, #discard-list{
        width: 93%;
    }
    #draw-baize, #draw-discard{
        width: 7%;
    }
    #baize {
        left:66%;
        transform: translateX(93%);
    }
    #discard {
        right:66%;
        transform: translateX(-93%);
    }
    /*Carte : illustration et contenu côte à côte*/
    #card-view_card{
        
    }
}

/*
#card-view{background-color: blueviolet;}
#card-view_heading{background-color: blue;}
#card-view_card{background-color: green;}
#decisions{background-color: yellowgreen;}
*/
