/*I - GÉNÉRAL*/
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    height: 100dvh;
    background-color: antiquewhite;
	display: flex;
	flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

header, footer{
    background-color: rgb(6, 59, 80);
    color: antiquewhite;
}
header{
    font-size: 1em;
    font-weight: bold;
}
main{
    box-sizing: border-box;
    height:100%;
    width: 100%;
    display: flex;
	flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 1rem;
}
header, footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
header{
    padding: 0.5rem;
}
footer a{
    display: inline;
    color: antiquewhite;
}
#decisions{
    display: flex;
}
#decisions button{
    margin: 1rem;
}
#keep-in-deck, #reset-deck, #discard-btn{
    font-size: 1em;
    padding: 0.7rem;
    background-color: antiquewhite;
    border: 1px solid rgb(6, 59, 80);
    border-radius: 5px;
}
#keep-in-deck:hover, #reset-deck:hover, #discard-btn:hover{
    background-color: rgb(6, 59, 80);
    color: antiquewhite;
    font-weight: bold;
}
#card-view{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:75%;
    width: 100%;
    padding: 0.7rem;
}
#card-view h2{
    text-align: center;
    font-size: 1.2em;
}
#card-view img{
    box-sizing: border-box;
    height: 100%;
    max-width: 90%;
    object-fit: contain;
    border-radius: 10px;
    mix-blend-mode: multiply;
}


/* LA RÉSERVE ET LA DÉFAUSSE */
#baize, #discard{
    display: flex;
    position: fixed; 
    height: 100%;
    margin-top:-1rem;
    margin-bottom:-1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}
#baize.active, #discard.active{
    background-color: black;
    transform: translateX(0%);
    z-index: 2;
}
#draw-baize, #draw-discard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    width:10%;
    align-self:center;
    position: sticky;
    top : 300px;
    background-color: black;
    color: antiquewhite;
    border: none;
}
/* Le bouton de la réserve dépasse à droite de l'écran */
#draw-baize{
    left:0;
    border-radius: 50px 0 0 50px;
}
/* Le bouton de la défausse dépasse à gauche de l'écran */
#draw-discard{
    right:0;
    border-radius: 0 50px 50px 0;
}
#baize-list, #discard-list{
    box-sizing: border-box;
    overflow: scroll!important;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:100%;
    width:90%;
    padding:1rem;
    /*Cacher la scrollbar*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Cacher la  scrollbar pour Chrome, Safari et Opera */
#baize-list::-webkit-scrollbar, #discard-list::-webkit-scrollbar {
    display: none;
}
#baize-list li, #discard-list li{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    text-align: center;
    width: 80%;
    height: auto;
    margin: 1rem;
}
#baize-list li img, #discard-list li img{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.hide{
    display: none;
}
/* MOBILE */
@media only screen and (max-width : 431px) {
    /*Largeur du contenant moins celle du bouton*/
    #baize-list, #discard-list{
        width: 90%;
    }
    #draw-baize, #draw-discard{
        width: 10%;
    }
    /* Reculer la réserve et la défausse hors de l'écran, de la largeur de la liste, pour faire dépasser le bouton*/
    #baize {
        transform: translateX(90%);
    }
    #discard {
        transform: translateX(-90%);
    }

}
/* TABLETTES */
@media only screen and (min-width : 431px) and (max-width : 1024px){
    #baize-list, #discard-list{
        width: 95%;
    }
    #draw-baize, #draw-discard{
        width: 5%;
    }
    #baize {
        transform: translateX(95%);
    }
    #discard {
        transform: translateX(-95%);
    }
}

/* DESKTOP */
@media only screen and (min-width : 1025px) {
    #baize-list, #discard-list{
        width: 97%;
    }
    #draw-baize, #draw-discard{
        width: 3%;
    }
    #baize {
        transform: translateX(97%);
    }
    #discard {
        transform: translateX(-97%);
    }
}