html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
	display: flex;
    height: 100dvh;
	flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
header, footer{
    flex: 0 0 auto; /* taille fixe (pas d'étirement) */
    background-color: rgb(6, 59, 80);
    color: antiquewhite;
}
header{
    font-size: 1em;
    font-weight: bold;
}
main{
    flex: 1 1 auto; /* le reste de l'espace est pour le main */
    box-sizing: border-box;
    height:100%;
    width: 100%;
    display: flex;
	flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 1rem;

}
header, footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
header{
    padding: 0.5rem;
}
footer a{
    display: inline;
    color: antiquewhite;
}
#keep-in-deck, #reset-deck{
    font-size: 1em;
    padding: 0.7rem;
    background-color: antiquewhite;
    border: 1px solid rgb(6, 59, 80);
    border-radius: 5px;
}
#keep-in-deck.active, #reset-deck:hover{
    background-color: rgb(6, 59, 80);
    color: antiquewhite;
    font-weight: bold;
}
#card-view{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 62vh; 
    width: 100%;
    padding: 0.7rem;
}
#card-view h2{
    text-align: center;
    font-size: 1.2em;
}
#card-view img{
    box-sizing: border-box;
    height: 100%;
    max-width: 90%;
    object-fit: contain;
    border-radius: 10px;
    mix-blend-mode: multiply;
}
.hide{
    display: none;
}
body{
    background-color: blueviolet;
}
main{
    background-color: red;  
}
#card-view{
    background-color: yellow;
}

